<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="signin-wrapper">
      <h2 class="grayed-heading center">Sign in or create an account</h2>

      <div class="omniauth-button-group">
        <div class="omniauth-button">
          <%= link_to user_omniauth_authorize_path(:facebook), class: 'button facebook' do %>
            <span class="icon-facebook-official"></span>Sign in with Facebook
          <% end %>
        </div>

        <div class="omniauth-button google">
          <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'button google' do %>
            <span class="icon-google"></span>Sign in with Google
          <% end %>
        </div>

        <div class="omniauth-button twitter">
          <%= link_to user_omniauth_authorize_path(:twitter), class: 'button twitter' do %>
            <span class="icon-twitter2"></span>Sign in with Twitter
          <% end %>
        </div>

        <div>
          <%= link_to "Sign in or Sign up with email", new_user_session_path, class: "signin-signup-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
