<h1>Welcome to Stories!</h1>

<p>
  Hi <%= @user.username %>, thank you for becoming a member of the Stories community!
  We've got some suggestions to get you started :)
</p>


<h4>Follow other users and tags to customize your feed</h4>
<h4>Share your story with the community</h4>


<p>
  Again, thanks for creating an account on Stories, if you are Rails developer,
  please checkout github repository of this web app.
  <a href="https://github.com/kenny-hibino/stories">To github repo</a>
</p>
