.dashboard-main-content {
  padding-top: 2em;
  padding-bottom: 2em;
}

body.dashboards.show,
body.dashboards.bookmarks,
body.dashboards.top_stories {
  .main-container {
    background: $background-gray;
  }
  .posts-wrapper > .post-panel {
    background: $white;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0, 0.09);
    @include box-shadow;
    @include border-radius($radius);
  }
}

body.dashboards.top_stories {
  .top-story-rank {
    padding-bottom: 1.2em;
  }
  .count-button-wrapper {
    margin: auto;
    width: 40px;
    height: 40px;
  }
}
