.dashboard-main-content {
  padding-top: 2em;
  padding-bottom: 2em;
}

body.dashboards.show,
body.dashboards.bookmarks,
body.dashboards.top_stories {
  .main-container {
    background: $background-gray;
  }
  .posts-wrapper > .post-panel {
    background: $white;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0, 0.09);
    @include box-shadow;
    @include border-radius($radius);
  }

  .editor {
    background-color: $white;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0, 0.09);
    @include box-shadow;
    .medium-editor-placeholder:after {
      color: $light-font-color;
    }
    .editor-username {
      color: $accent-color;
      margin-left: 12px;
      font-weight: normal;
    }
    .medium-editable {
      outline: none;
      @include well-read;
      line-height: 1.5;
    }
  }

  .editor {
    .editor-metadata,
    .editor-form {
      transition: all 300ms;
      display: inline-block;
    }
    .editor-form {
      margin: 0;
      height: 30px; // FIXME
    }
    .go-full-screen,
    .cancel-button {
      display: none;
    }
    .editor-metadata {
      margin: 0 12px 0 0;
    }
    .editor-username {
      transition: all 300ms;
      display: none;
    }
  }

  .editor.active {
    .editor-metadata,
    .editor-form {
      display: block;
    }
    .editor-metadata {
      margin: 0 0 12px 0;
    }
    .editor-username {
      display: inline-block;
    }
    .editor-form {
      height: auto;
    }
    .go-full-screen,
    .cancel-button {
      display: inline-block;
    }
  }



  .editor.active .editor-username {
    display: inline-block;
  }
}

body.dashboards.top_stories {
  .top-story-rank {
    padding-bottom: 1.2em;
  }
  .count-button-wrapper {
    margin: auto;
    width: 40px;
    height: 40px;
  }
}
