body.posts.new,
body.posts.edit,
body.posts.update,
body.posts.create {
  .navbar {
    border: none;
  }
  .post-metadata {
    padding: 30px 0 15px;
    margin-top: 20px;
  }
  .publish-button {
    margin-top: 5px;
    margin-right: 10px;
  }
  .publish-dropdown {
    width: 300px;
    right: -100px;
    margin-top: 5px;
    padding: 1em;
    color: $light-font-color;
    .dropdown-arrow-top {
      right: 138px;
    }
    .dropdown-arrow-bottom {
      right: 136px;
    }
    input.taggle_input {
      width: 100% !important;
    }
    ul.taggle_list {
      flex-wrap: wrap !important;
    }
  }
}
