body.posts.show {
  .row {
    width: 100%;
  }
  .navbar {
    border: none;
  }
  .filter-links, .new-post-button {
    display: none;
  }
  .main-content {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3%;
    padding-right: 3%;
  }
  .post-picture-wrapper {
    padding: 2em 0;
    img {
      display: block;
      width: 100%;
      margin: auto;
    }
  }

  .title {
    color: $black;
    font-weight: 600;
    font-size: 36px;
  }

  .body {
    @include well-read;
  }

  .post-tags {
    margin: 2em 0 3em;
  }

  .tag {
    padding: 0.5em 1em;
    background: $super-light-gray;
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    @include border-radius($radius);
    margin-right: 8px;
    margin-bottom: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  .main-content .post-stats {
    .fa {
      width: 24px;
      font-size: 22px;
    }
    .like-count, .response-count {
      font-size: 16px;
      font-weight: 600;
      color: rgba(0,0,0,0.3);
    }
    .response-icon-wrapper {
      margin-left: 20px;
      color: $light-font-color;
      text-decoration: none;
    }
  }
  .author-info {
    display: flex;
    justify-content: space-around;
    padding: 2.5em 0;
    border-top: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;
    margin: 2em 0 0;
    .avatar-image {
      vertical-align: top;
      margin-right: 20px;
    }
    .username-description {
      display: inline-block;
      min-width: 240px;
      max-width: 300px;
      margin-right: 20px;
      color: $font-black;
      h4 {
        margin-top: 0;
      }
    }
  }

  .edit-delete-button-wrapper {
    padding: 1em 0;
    margin-bottom: 1em;
  }

  .related-stories {
    .post-list-item {
      padding: 20px;
      border-bottom: 1px solid $border-color;
      .flex-container {
        align-items: center;
      }
    }
    .avatar-wrapper {
      margin-right: 20px;
    }
    .pli-picture-wrapper {
      margin-left: auto;
      img {
        max-width: 150px;
        border-radius: 3px;
      }
    }
    .pli-title {
      font-size: 18px;
      a {
        color: $light-font-color;
        text-decoration: none;
        &:hover {
          color: $accent-color;
        }
      }
    }

    .pli-username {
      font-size: 11px;
      a {
        color: $light-font-color;
        text-decoration: none;
        &:hover {
          color: $font-black;
        }
      }
    }
  }

  .response-panel {
    background: $white;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0, 0.09);
    @include box-shadow;
    @include border-radius($radius);
    .post-metadata {
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  #new_response {
    input[type="submit"] {
      margin-top: 12px;
    }
  }
  [data-react-class="OverlayTriggerButton"] {
    display: inline-block;
    cursor: pointer;
  }

  .post-show-footer {
    background-color: $background-gray;
  }

  .post-metadata-bar > .flex-container {
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: $white;
    width: 720px;
    padding: 0.8em 0.8em 0.5em;
    left: 50%;
    box-shadow: 0 0 1px rgba(0,0,0,.44);
    border-radius: 3px 3px 0 0;
    transition: 0.3s transform;
    transform: translate(-50%, 0);
    &.is-inView {
      transform: translate(-50%, 0);
    }
    &.is-hidden {
      transform: translate(-50%, 100%);
    }
    .post-stats {
      width: 55%;
      padding-right: 10px;
      border-right: 1px solid $border-color;
    }
    .metabar-author-info {
      width: 45%;
      padding-left: 10px;
      align-items: center;
    }
    .response-icon-wrapper {
      margin-left: 22px;
      text-decoration: none;
      display: inline-block;
      padding-top: 0.5px;
    }
    .fa-comment-o {
      font-size: 18px;
      color: $light-font-color;
    }
    .response-count {
      font-size: 14px;
      margin-left: 3px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.3);
    }
    .bookmark-button {
      margin-left: auto;
    }
  }

  .metabar-author-info {
    [data-react-class="PopoverLink"] {
      display: inline-block;
      margin-left: 8px;
      a {
        color: $light-font-color;
      }
    }
    [data-react-class="UserFollowButton"] {
      display: inline-block;
      .button {
        font-size: 12px;
      }
      .unfollow-button {
        width: 80px;
      }
    }
  }
}
