body.search.show,
body.search.users {
  padding-top: 0;
  .navbar.navbar-default {
    border: none;
  }
  .search-filter-links {
    .filter-link {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      cursor: pointer;
    }

    a {
      padding: 12px 0;
      display: inline-block;
      width: 100%;
      color: $light-font-color;
      text-decoration: none;
    }

    .active {
      border-top: 1px solid $font-black;
      a {
        color: $font-black;
      }
    }
  }

  a.tag {
    background-color: $background-gray;
    &:hover {
      background-color: $white;
    }
  }
}

body.search.users {
  .user-panel {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $light-border-color;

    .avatar-wrapper {
      margin-right: 18px;
    }

    .user-metadata {
      a {
        color: $font-black;
        text-decoration: none;
        transition: color 200ms;
        &:hover {
          color: $accent-color;
        }
      }
    }

    .follow-button-wrapper {
      margin-left: auto;
    }
  }
}
