body.sessions.new,
body.registrations.new, body.registrations.create {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 28px;
    font-weight: 100;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(250, 255, 189);
  }
  .form-input-wrapper {
    padding: 1.5em 0;
  }
  .field_with_errors {
    padding: 0.5em 0.5;
  }
  #error_explanation ul{
    padding-left: 20px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }
  .remember-me {
    display: inline-block;
    color: $font-black;
  }
  .devise-links {
    margin-top: 2em;
    a {
      color: $font-black;
    }
  }
}
