body.stories.drafts,
body.stories.published {
  .button-set {
    padding-top: 12px;
  }
  .story-card {
    padding: 1.5em 0;
    border-bottom: 1px solid $border-color;
    .sc-title {
      display: block;
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 1rem;
      a {
        color: $font-black;
        text-decoration: none;
      }
    }
    .sc-metadata {
      color: $super-light-font-color;
      font-size: 14px;
    }
  }
}
