body.stories.drafts,
body.stories.published {
  .button-set {
    padding-top: 12px;
  }
  .story-card {
    padding: 1.5em 0;
    border-bottom: 1px solid $border-color;
    .sc-title {
      display: block;
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 1rem;
      a {
        color: $font-black;
        text-decoration: none;
      }
    }
    .sc-metadata {
      color: $super-light-font-color;
      font-size: 14px;
    }
    .btn-group .dropdown-toggle {
      border: none;
      outline: none;
      background-color: $white;
    }
    .btn-group.open .dropdown-toggle {
      box-shadow: none;
    }
  }
  .no-sc-message {
    text-align: center;
    font-size: 22px;
    padding-top: 15px;
    color: $light-font-color;
  }
}
