.heading-container {
  margin: 35px 0 20px;
  padding-bottom: 35px;
  border-bottom: 1px solid $border-color;
}
.heading-container button {
  margin-top: 5px;
}
.heading-prefix {
  text-transform: uppercase;
  color: $light-gray;
  letter-spacing: 1px;
  font-size: 11px;
}
.heading-title {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
}
.tag-followers-list {
  padding-bottom: 35px;
  border-bottom: 1px solid $border-color;
}
[data-react-class="TagFollowersList"] {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  .popover-link {
    display: inline-block;
    margin-right: 3px;
  }
}
