.heading-container {
  margin: 35px 0;
  padding-bottom: 35px;
  border-bottom: 1px solid $border-color;
}
.heading-container button {
  margin-top: 5px;
}
.heading-prefix {
  text-transform: uppercase;
  color: $light-gray;
  letter-spacing: 1px;
  font-size: 11px;
}
.heading-title {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
}
