body.users.show,
body.users.edit,
body.recommended_posts.index {
  .banner-container {
    background-color: $background-gray;
    width: 100%;
  }
  .hero-wrapper {
    width: 50%;
    max-width: 550px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2.5em;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .profile-info {
    max-width: 450px;
    width: 80%;
  }
  .hero-title {
    font-weight: 700;
    font-size: 32px;
    cursor: default;
  }
  .hero-description {
    width: 85%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 4px;
    color: $light-font-color;
  }
  .hero-location {
    width: 85%;
    font-size: 18px;
    color: $light-font-color;
    .fa-map-marker {
      color: tomato;
      margin-right: 6px;
    }
    input {
      width: 90%;
    }
  }
  [data-react-class="UserFollowContainer"] {
    display: inline-block;
  }

  .following-metadata {
    margin: 1em 0 1.2em;
    > span {
      color: $light-font-color;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .following-count {
    margin-right: 12px;
  }
  .edit-button {
    transform: translateX(-24px);
  }

  .tag {
    background-color: $background-gray;
  }
  .posts-wrapper {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 50%;
    max-width: 550px;
    margin: auto;
  }

  .recommended-post-card {
    display: block;
    width: 50%;
    padding: 1em 0;
    &:first-child,
    &:nth-child(2) {
      border-bottom: 0.5px solid $light-border-color;
    }
  }
  .rpc-title {
    color: $font-black;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.3px;
  }
  .rpc-username {
    color: $super-light-font-color;
    font-size: 14px;
  }
  label.change-avatar input[type="file"] {
    position: fixed;
    top: -1000px;
  }
  .change-avatar {
    border: 1px solid $border-color;
    @include border-radius($round);
    padding: 2px 5px;
    margin: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    position: relative;
    transition: all .1s;

    .fa-camera {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      opacity: 1;
      color: #000;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
  .change-avatar:hover {
    border: 1px solid $border-hover-color;
  }
  .change-avatar:active {
    border: 1px solid $border-hover-color;
  }
}

form.edit_user {
  input[type="text"], textarea {
    border: none;
    outline: none;
    line-height: 24px;
  }
  textarea {
    width: 100%;
  }
}
