<%= button_to interest_path(current_user.interests.find_by(tag_id: tag.id)), method: :delete, class: 'pull-right button green-inner-button unfollow-button' do %>
  <span class="top content">Following</span><br/>
  <span class="bottom content">Unfollow</span>
<% end %>
