<div class="bookmark-button-wrapper">
  <% if user_signed_in? && current_user.bookmarked_response?(response) %>
    <%= button_to response_bookmark_path(response, current_user.bookmarks.find_by(bookmarkable: response)), method: :delete, remote: true, class: 'unbookmark-button' do %>
      <span class="icon-bookmark"></span><span class="hide-text">Unbookmark</span>
    <% end %>
  <% else %>
    <%= button_to response_bookmarks_path(response), remote: true, class: 'bookmark-button' do %>
      <span class="icon-bookmark-o"></span><span class="hide-text">Bookmark</span>
    <% end %>
  <% end %>
</div>
