<div class="like-button-wrapper">
  <% if user_signed_in? %>
    <%= react_component('LikeButton',
                        { liked: current_user.liked?(response),
                          likeCount: response.likes.size,
                          likeEndpoint: api_response_likes_path(response),
                          unlikeEndpoint: api_response_likes_path(response),
                          likeableType: 'Response',
                          likeableId: response.id,
                          disableOverlay: true }) %>
  <% else %>
    <%= button_to '', method: :get, class: 'like-button', data: { behavior: 'trigger-overlay' } do %>
      <i class="fa fa-heart-o"></i><span class="hide-text">Like</span>
    <% end %>
    <span class="like-count"><%= response.likes.size %></span>
  <% end %>
</div>
