<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Your Stories</h1>

    <h4>Drafts</h4>

    <% @drafts.each do |draft| %>
      <div>
        <strong><%= link_to draft.title, edit_post_path(draft) %></strong>
        <small>Last edited <%= time_ago_in_words(draft.updated_at) %> ago</small>
      </div>
    <% end %>
  </div>
</div>
