<div class="col-md-7 col-md-offset-1">
  <div class="heading-container">
    <small class="heading-prefix">Tagged in</small>
    <h3 class="heading-title"><%= @tag.name.capitalize %></h3>
  </div>

  <%= render @posts %>
</div>
