[data-react-class="AddTagButton"] {
  display: inline-block;
  position: absolute;
  right: 0;
  transform: translateY(-120%);
}
.add-tag-button > button {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 20px;
  border-radius: 50%;
  background-color: rgba($accent-color, 0.7);
  font-size: 17px;
  color: $white;
  border: none;
  outline: none;
  .icon-plus {
    transition: all 200ms;
    display: block;
    &.active {
      transform: rotate(45deg);
    }
  }
}
.add-tag-popover {
  display: block;
  transform: translate(-43%, -100%);
  min-width: 220px;
  .popover-title {
    color: $light-font-color;
    text-align: center;
  }
  .popover-content {
    text-align: center;
    .form-control:focus {
      outline: none !important;
    }
    .add-button {
      background: rgba($accent-color, 0.7);
      color: $white;
    }
  }
}
