.editor-form {
  position: relative;
  padding-bottom: 2em;
  margin-top: 20px;

  .editor-title {
    font-size: 36px;
    border: none;
    outline: none;
    font-weight: 600;
    width: 100%;
  }
  .medium-editable {
    min-height: 300px;
    outline: none;
    @include well-read;
  }
  .picture_upload {
    position: absolute;
    top: 8px;
    left: -50px;
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: $accent-color;
    }
  }
  label.picture_upload input[type="file"] {
    position: fixed;
    top: -1000px;
  }
  .file-upload-previewer,
  .existing-img-previewer {
    padding: 0 0 2em;
    > img {
      width: 100%;
    }
  }
}



.picture_upload {
  border: 1px solid $light-gray;
  @include border-radius($round);
  padding: 6px 8px 4px 8px;
  margin: 2px;
  color: $light-gray;
  display: inline-block;
  float: right;
  margin-right: 8px;
  transition: all 0.5s ease;
}
.picture_upload:hover {
  border: 1px solid $accent-color;
  color: $accent-color;
}

// Override Taggle stylesheet.
.taggle_list {
  padding: 0 !important;
  float: none !important;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.taggle_placeholder {
  top: 3px !important;
  left: 0px !important;
}
