.feed-panel {
  background: $white;
  padding: 0 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0, 0.04);
  box-shadow: 0 1px 4px rgba(0,0,0, 0.03);
  border-radius: 3px;
}
.feed-metadata {
  padding-top: 1.4em;
  color: $light-gray;
  span[class^="icon"] {
    margin-right: 5px;
    color: $light-gray;
  }
  a {
    color: $super-light-font-color;
    text-decoration: none;
    &:hover {
      color: $light-font-color;
    }
  }
}
