.follow-suggestions-container {
  padding: 1.5em 0;
  .suggestions-header {
    max-width: 330px;
    .small-heading { 
      display: inline-block;
    }
  }
  .refresh-link {
    cursor: pointer;
    color: $accent-color;
  }
  .suggestion-item {
    display: flex;
    align-items: center; 
    max-width: 330px;
    padding: 1em 0;
    padding-left: 8px;
    &:not(:last-child) {
      border-bottom: 1px solid $light-border-color;
    }
    .popover-link a {
      color: $light-font-color;
      font-weight: bold;
    }
    .avatar-wrapper {
      margin-right: 1.4em;
    }
    .button-wrapper {
      margin-left: auto;
    }
    .button {
      padding: 0.4em 1em 0.5em;
    }
  }
}

.suggestion-appear {
  opacity: 0.01;
}

.suggestion-appear.suggestion-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
