/* Extra small devices (phones, less than 768px) */


body {
  padding-top: 0;
}

.container-fluid, .container {
  padding: 0;
}
.navbar-header {
  padding: 8px 0;
  border-bottom: 1px solid $super-light-gray;
}
.navbar-fixed-top {
  position: relative;
}
.navbar-nav, .navbar-nav > li {
  display: inline-block;
}
.navbar-nav {
  margin: 5 10px;
}
.navbar-nav > .open > a {
  background-color: $white !important;
}
.navbar-nav > li > a {
  padding: 5px 9px;
}

/** Navbar animation **/
nav.navbar {
  transition: 0.3s transform;
  &.is-inView {
    transform: translateY(0);
  }
  &.is-hidden {
    transform: translateY(-100%);
  }
}

.navbar-admin {
  ul.nav.navbar-nav > li > a {
    color: #fff;
    border: none;
  }
}

nav.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: $super-light-gray;
  &.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navbar-brand {
    height: 40px;
  }
  .filter-links {
    margin-left: 9px;
    li > a {
      text-decoration: none;
      font-size: 14px;
      color: $light-font-color;
      font-weight: 400;
      &.active {
        color: $font-black;
      }
    }
  }

  .folding-nav {
    position: absolute;
    top: 3px;
    right: 0;
  }
  .navbar-right {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
  }

  .navbar-right > li {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  .new-post-button {
    display: none;
  }
  .new-post-button a {
    transition: all .1s;
    color: $light-gray;
  }
  .new-post-button:hover {
    a {
      color: $light-font-color;
      border-color: $border-hover-color;
    }
  }
  .new-post-button,
  .sign-in-button  {
    margin-top: 5px;
    margin-right: 10px;
    .button {
      padding: 0.6em 1em 0.7em 1em;
    }
  }

  .account {
    padding-top: 5px;
  }
  a.avatar-wrapper {
    padding: 0;
    display: inline;
    margin: 3px 15px 0 10px;
  }
  a.avatar-wrapper img.avatar-image {
    border: 1.5px solid $border-color;
    transition: all .1s;
  }
  a.avatar-wrapper:hover img.avatar-image, .open a.avatar-wrapper img.avatar-image {
    border: 1.5px solid $border-hover-color;
  }

  .nav-dropdown {
    background: #fff;
    @include border-radius($popover);
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    border: none;
    top: 134%;

    right: 20px;
    a {
      color: $light-font-color;
      &:hover {
        background-color: $white;
        color: rgba(0,0,0,0.8);
      }
    }
    .nd-main {
      font-size: 16px;
      font-weight: 100px;
      line-height: 1.4;
    }
    .nd-sub {
      font-size: 14px;
      font-weight: 100;
      line-height: 1.4;
    }
    .dropdown-arrow-top {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      z-index: 20;
      border-bottom: 10px solid #fff;
      position: absolute;
      right: 10px;
      top: -10px;
    }
    .dropdown-arrow-bottom {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      z-index: 10;
      border-bottom: 11px solid rgba(0, 0, 0, 0.11);
      position: absolute;
      right: 8px;
      top: -11px;
    }
  }

  #logo {
    width: 128px;
    margin-left: 15px;
    position: relative;
    img, span {
      position: absolute;
    }
    img {
      top: 5px;
      height: 31px;
    }
    span {
      right: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  body {
    padding-top: 67px;
  }
  .navbar-header {
    border-bottom: none;
  }
  .navbar-fixed-top {
    position: fixed;
  }
  nav.navbar {
    padding: 5px 0;
    .filter-links {
      margin-top: 16px;
      margin-left: 0;
    }
    #logo {
      width: 138px;
      margin-left: 0;
    }
    .new-post-button {
      display: inline-flex;
    }
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  nav.navbar {
    #logo {
      width: 150px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
