nav.navbar {

  #logo {
    text-transform: uppercase;
    font-weight: bold;
  }

  .filter-links {
    margin-left: 1.5em;
    li > a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 11px;
      color: $light-font-color;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
  }

  .new-post-button {
    margin-top: 7px;
  }
  // FIXME
  .avatar-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
  }
}
