body {
  padding-top: 51px; /*** to deal with fixed top navbar ***/
}


/** Navbar animation **/
nav.navbar {
  transition: 0.3s transform;
  &.is-inView {
    transform: translateY(0);
  }
  &.is-hidden {
    transform: translateY(-100%);
  }
}
nav.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  border-color: $border-color !important;
  &.navbar-default {
    background-color: #fff !important;
  }
  #logo {
    width: 152px;
    position: relative;
    img, span {
      position: absolute;
    }
    img {
      top: -2px;
    }
    span {
      right: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .filter-links {
    margin-left: 1.5em;
    li > a {
      text-decoration: none;
      font-size: 14px;
      color: $light-font-color;
      font-weight: 400;
      &.active {
        color: $font-black;
      }
    }
  }

  .new-post-button a {
    transition: all .1s;
    color: $light-gray !important; 
  }

  .new-post-button:hover {
    a {
      color: $light-font-color !important;
      border-color: $border-hover-color !important;
    }
  }

  .new-post-button,
  .sign-in-button  {
    margin-top: 7px;
    margin-right: 10px;
  }
  // FIXME
  .avatar-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
  }
  .navbar-nav > .open > a {
    background-color: $white !important;
  }
  // FIXME
  .nav-dropdown {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    border: none !important;
    top: 134% !important;

    right: 20px;
    a {
      color: $light-font-color !important;
      &:hover {
        background-color: $white !important;
        color: rgba(0,0,0,0.8) !important;
      }
    }
    .nd-main {
      font-size: 16px;
      font-weight: 100px;
      line-height: 1.4;
    }
    .nd-sub {
      font-size: 14px;
      font-weight: 100;
      line-height: 1.4;
    }
    .dropdown-arrow-top {
      width: 0; 
      height: 0; 
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      z-index: 20;

      border-bottom: 16px solid #fff;
      position: absolute;
      right: 4px;
      top: -13px;
    }
    .dropdown-arrow-bottom {
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      z-index: 10;

      border-bottom: 15px solid rgba(0,0,0,0.11);
      position: absolute;
      right: 5px;
      top: -15px;
    }
  }
}

#notifications {
  &.active a.dropdown-toggle {
    background-color: rgba($accent-color, 0.8);
  }
  a.dropdown-toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    position: relative;
    border: 1.5px solid $border-color;
    border-radius: 50%;
    margin-top: 5px;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.3em;
    }
    span#bell {
      color: $light-font-color;
    }
    span#unread-notifications-count {
      color: #fff;
    }
  }
}
#notification-items {
  .avatar-image {
    margin-right: 18px;
    vertical-align: baseline;
  }
  li {
    padding: 8px 0;
    border-bottom: 1px solid $light-border-color;
    &.new-notification {
      border-left: 2px solid $accent-color;
    }
  }
  li > a {
    color: $light-font-color;
  }
  .notification-metadata {
    display: inline-block;
  }
}

#autocomplete-items {
  list-style: none;
  padding: 0 10px;
  width: 360px;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 3px;
  display: block;
  li {
    padding: 8px 10px;
    a {
      color: $font-black;
      font-size: 12px;
    }
  }
  .avatar-image {
    margin-right: 5px;
  }
  .glyphicon-search {
    margin-right: 5px;
  }
  .autocomplete-heading {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $font-black;
    border-bottom: 1px solid $light-border-color;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}


.navbar-admin {
  ul.nav.navbar-nav > li > a {
    color: #fff;
    border: none;
  }
}
