body {
  padding-top: 53px; /*** to deal with fixed top navbar ***/
}
nav.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  border-color: $border-color !important;
  &.navbar-default {
    background-color: #fff !important;
  }
  #logo {
    text-transform: uppercase;
    font-weight: bold;
  }

  .filter-links {
    margin-left: 1.5em;
    li > a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 11px;
      color: $light-font-color;
      letter-spacing: 0.1em;
      font-weight: 600;
      border-bottom: 2px solid #fff;
      &.active {
        font-weight: bold;
        border-bottom: 2px solid;
        color: $accent-color;
      }
    }
  }

  .new-post-button {
    margin-top: 7px;
  }
  // FIXME
  .avatar-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
  }
}
