body {
  padding-top: 53px; /*** to deal with fixed top navbar ***/
}
nav.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  border-color: $border-color !important;
  &.navbar-default {
    background-color: #fff !important;
  }
  #logo {
    text-transform: uppercase;
    font-weight: bold;
  }

  .filter-links {
    margin-left: 1.5em;
    li > a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 11px;
      color: $light-font-color;
      letter-spacing: 0.1em;
      font-weight: 600;
      border-bottom: 2px solid #fff;
      &.active {
        font-weight: bold;
        border-bottom: 2px solid;
        color: $accent-color;
      }
    }
  }

  .new-post-button {
    margin-top: 7px;
    margin-right: 10px;
  }
  // FIXME
  .avatar-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
  }
}

#notifications {
  &.active a.dropdown-toggle {
    background-color: rgba($accent-color, 0.8);
  }
  a.dropdown-toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    position: relative;
    border: 1.5px solid $border-color;
    border-radius: 50%;
    margin-top: 5px;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.3em;
    }
    span#bell {
      color: $light-font-color;
    }
    span#unread-notifications-count {
      color: #fff;
    }
  }
}
#notification-items {
  .avatar-image {
    margin-right: 18px;
    vertical-align: baseline;
  }
  li {
    padding: 8px 0;
    border-bottom: 1px solid $light-border-color;
    &.new-notification {
      border-left: 2px solid $accent-color;
    }
  }
  li > a {
    color: $light-font-color;
  }
  .notification-metadata {
    display: inline-block;
  }
}
