body {
  padding-top: 51px; /*** to deal with fixed top navbar ***/
}


/** Navbar animation **/
nav.navbar {
  transition: 0.3s transform;
  &.is-inView {
    transform: translateY(0);
  }
  &.is-hidden {
    transform: translateY(-100%);
  }
}
nav.navbar {
  margin-bottom: 0 !important;
  padding: 8px 0;
  border-radius: 0 !important;
  border-color: $super-light-gray !important;
  &.navbar-default {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
  #logo {
    width: 152px;
    position: relative;
    img, span {
      position: absolute;
    }
    img {
      top: 5px;
    }
    span {
      right: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .filter-links {
    margin-left: 1.5em;
    li > a {
      text-decoration: none;
      font-size: 14px;
      color: $light-font-color;
      font-weight: 400;
      &.active {
        color: $font-black;
      }
    }
  }

  .new-post-button a {
    transition: all .1s;
    color: $light-gray !important;
  }

  .new-post-button:hover {
    a {
      color: $light-font-color !important;
      border-color: $border-hover-color !important;
    }
  }

  .new-post-button,
  .sign-in-button  {
    margin-top: 7px;
    margin-right: 10px;
  }

  .account {
    padding-top: 5px;
  }
  a.avatar-wrapper {
    padding: 0;
    display: inline;
    margin: 5px 20px 0 10px;
  }
  a.avatar-wrapper img.avatar-image {
    border: 1.5px solid $border-color;
    transition: all .1s;
  }
  a.avatar-wrapper:hover img.avatar-image, .open a.avatar-wrapper img.avatar-image {
    border: 1.5px solid $border-hover-color;
  }

  .navbar-nav > .open > a {
    background-color: $white !important;
  }

  .nav-dropdown {
    background: #fff;
    @include border-radius($popover);
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    border: none !important;
    top: 134% !important;

    right: 20px;
    a {
      color: $light-font-color !important;
      &:hover {
        background-color: $white !important;
        color: rgba(0,0,0,0.8) !important;
      }
    }
    .nd-main {
      font-size: 16px;
      font-weight: 100px;
      line-height: 1.4;
    }
    .nd-sub {
      font-size: 14px;
      font-weight: 100;
      line-height: 1.4;
    }
    .dropdown-arrow-top {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      z-index: 20;
      border-bottom: 10px solid #fff;
      position: absolute;
      right: 10px;
      top: -10px;
    }
    .dropdown-arrow-bottom {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      z-index: 10;
      border-bottom: 11px solid rgba(0, 0, 0, 0.11);
      position: absolute;
      right: 8px;
      top: -11px;
    }
  }
}

.navbar-admin {
  ul.nav.navbar-nav > li > a {
    color: #fff;
    border: none;
  }
}
