
/** Navbar animation **/
nav.navbar {
  transition: 0.3s transform;
  &.is-inView {
    transform: translateY(0);
  }
  &.is-hidden {
    transform: translateY(-100%);
  }
}
nav.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: $super-light-gray;
  &.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
  }


  .filter-links {
    margin-left: 1.5em;
    li > a {
      text-decoration: none;
      font-size: 14px;
      color: $light-font-color;
      font-weight: 400;
      &.active {
        color: $font-black;
      }
    }
  }

  .new-post-button a {
    transition: all .1s;
    color: $light-gray !important;
  }

  .new-post-button:hover {
    a {
      color: $light-font-color !important;
      border-color: $border-hover-color !important;
    }
  }

  .new-post-button,
  .sign-in-button  {
    margin-top: 7px;
    margin-right: 10px;
  }

  .account {
    padding-top: 5px;
  }
  a.avatar-wrapper {
    padding: 0;
    display: inline;
    margin: 3px 15px 0 10px;
  }
  a.avatar-wrapper img.avatar-image {
    border: 1.5px solid $border-color;
    transition: all .1s;
  }
  a.avatar-wrapper:hover img.avatar-image, .open a.avatar-wrapper img.avatar-image {
    border: 1.5px solid $border-hover-color;
  }

  .navbar-nav > .open > a {
    background-color: $white !important;
  }

  .nav-dropdown {
    background: #fff;
    @include border-radius($popover);
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    border: none !important;
    top: 134% !important;

    right: 20px;
    a {
      color: $light-font-color !important;
      &:hover {
        background-color: $white !important;
        color: rgba(0,0,0,0.8) !important;
      }
    }
    .nd-main {
      font-size: 16px;
      font-weight: 100px;
      line-height: 1.4;
    }
    .nd-sub {
      font-size: 14px;
      font-weight: 100;
      line-height: 1.4;
    }
    .dropdown-arrow-top {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      z-index: 20;
      border-bottom: 10px solid #fff;
      position: absolute;
      right: 10px;
      top: -10px;
    }
    .dropdown-arrow-bottom {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      z-index: 10;
      border-bottom: 11px solid rgba(0, 0, 0, 0.11);
      position: absolute;
      right: 8px;
      top: -11px;
    }
  }
}

.navbar-admin {
  ul.nav.navbar-nav > li > a {
    color: #fff;
    border: none;
  }
}

/* Yellow */
/* Extra small devices (phones, less than 768px) */

.container-fluid {
  padding: 0;
}

.navbar-header {
  padding: 8px 0;
  border-bottom: 1px solid $super-light-gray;
}

body {
  padding-top: 0;
}
.navbar-fixed-top {
  position: relative;
}
.navbar-nav, .navbar-nav > li {
  display: inline-block;
}
.navbar-nav {
  margin: 5 10px;
}
nav.navbar .filter-links {
  margin-left: 9px;
}
.navbar-nav > li > a {
  padding: 5px 9px;
}

nav.navbar {

  .navbar-brand {
    height: 40px;
  }
  .folding-nav {
    position: absolute;
    top: 3px;
    right: 0;
  }
  .navbar-right {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
  }

  .navbar-right > li {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  .new-post-button {
    display: none;
  }


  #logo {
    width: 128px;
    margin-left: 15px;
    position: relative;
    img, span {
      position: absolute;
    }
    img {
      top: 5px;
      height: 31px;
    }
    span {
      right: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

}


/* red */
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .navbar-header {
    background: red;
  }

  body {
    padding-top: 81px;
  }
  .navbar-fixed-top {
    position: fixed;
  }

  nav.navbar {

    #logo {
      width: 152px;
    }
    .new-post-button {
      display: inline-flex;
    }

  }

}

/* blue */
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

  .navbar-header {
    background: blue;
  }

}

/* green */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

  .navbar-header {
    background: green;
  }

}
