nav.navbar {

  #logo {
    text-transform: uppercase;
    font-weight: bold;
  }

  .new-post-button {
    margin-top: 7px;
  }
  // FIXME
  .avatar-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
  }
}