.like-button,
.unlike-button {
  border: none;
  outline: none;
  background-color: transparent;
  i.fa {
    color: $accent-color;
    font-size: 18px;
  }
} 

.like-button-wrapper {
  display: inline-block;
  form.button_to {
    display: inline-block;
  }
}
.like-count {
  font-size: 14px;
  position: relative;
  top: -2.5px;
  left: -3px;
  color: rgba(0,0,0,0.3);
  font-weight: 600;
  margin-left: 3px;
}

.bookmark-button-wrapper {
  display: inline-block;
  form.button_to {
    display: inline-block;
  }
}

.bookmark-button,
.unbookmark-button {
  border: none;
  outline: none;
  background-color: transparent;
  i.fa {
    color: $light-gray;
    font-size: 18px;
    &:hover,
    &:active {
      color: $light-font-color;
    }
  }
}
