.like-button,
.unlike-button {
  border: none;
  outline: none;
  background-color: transparent;
  i.fa {
    color: $accent-color;
    font-size: 18px;
  }
} 

.like-button-wrapper {
  display: inline-block;
  form.button_to {
    display: inline-block;
  }
}
.like-count {
  font-size: 14px;
  position: relative;
  top: -2.5px;
  left: -3px;
  color: rgba(0,0,0,0.3);
  font-weight: 600;
  margin-left: 3px;
}

.bookmark-button-wrapper {
  display: inline-block;
  form.button_to {
    display: inline-block;
  }
}

.bookmark-button,
.unbookmark-button {
  border: none;
  outline: none;
  background-color: transparent;
  i.fa {
    color: $light-gray;
    font-size: 18px;
    &:hover,
    &:active {
      color: $light-font-color;
    }
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
