$loader--width: 250px;
$loader-dot--size: 20px;
.loader-container {
  width: 100%;
  display: block;
  margin: auto;
}
.loader {
  position: relative;
  height: $loader-dot--size;
  width: $loader--width;
  margin: auto;

  .loader-dot {
    -webkit-animation-name: loader;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: loader !important;
    animation-timing-function: ease-in-out !important;
    animation-duration: 3s !important;
    animation-iteration-count: infinite !important;
    height: $loader-dot--size;
    width: $loader-dot--size;
    @include border-radius($round);
    background-color: black;
    position: absolute;
    border: 2px solid white;
    &:first-child {
      background-color: #8cc759;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }
    &:nth-child(2) {
      background-color: #8c6daf;
      -webkit-animation: 0.4s;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      background-color: #ef5d74;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      background-color: #f9a74b;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &:nth-child(5) {
      background-color: #60beeb;
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    &:nth-child(6) {
      background-color: #fbef5a;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  }
  .loader-text {
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
    color: $font-black;
    padding-bottom: 20px;
    &:after {
      content: "Loading";
      font-weight: bold;
      -webkit-animation-name: loadingtext;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-name: loadingtext;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
}

@-webkit-keyframes loader {
  15% { transform: translateX(0); }
  45% { transform: translateX( $loader--width - $loader-dot--size); }
  65% { transform: translateX( $loader--width - $loader-dot--size); }
  95% { transform: translateX(0); }
}

@keyframes loader {
  15% { transform: translateX(0); }
  45% { transform: translateX( $loader--width - $loader-dot--size); }
  65% { transform: translateX( $loader--width - $loader-dot--size); }
  95% { transform: translateX(0); }
}

@-webkit-keyframes loadingtext {
  0%  { content: "Loading"; }
  25% { content: "Loading."; }
  50% { content: "Loading.."; }
  75% { content: "Loading..."; }
}

@keyframes loadingtext {
  0%  { content: "Loading"; }
  25% { content: "Loading."; }
  50% { content: "Loading.."; }
  75% { content: "Loading..."; }
}
