.popover-link {
  position: relative;
}

.user-popover {
  position: absolute;
  min-width: 300px;
  padding: 12px;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $border-color;
  color: $font-black;
  z-index: $popover;
  .po-username,
  .po-description {
    margin: 0;
  }
  .po-username {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .po-description {
    font-size: 14px;
    color: $light-gray;
    margin-bottom: 8px;
  }
  .po-metadata {
    padding-top: 12px;
    border-top: 1px solid $light-border-color;
  }

  .user-follow-container {
    padding-top: 12px;
    border-top: 1px solid $light-border-color;
  }

  .following-count, .follower-count {
    color: $light-gray;
  }
  
  .following-count {
    margin-right: 18px;
  }

  .unfollow-button {
    font-size: 11px;
    width: 72px
  }
}

