.post-panel {
  border-bottom: 1px solid $border-color;
  padding: 20px 0 25px;

  .post-picture-wrapper {
    padding: 1.2em 0 0;
    img {
      display: block;
      max-width: 100%;
      max-height: 180px;
    }
  }

  .main-body {
    margin-bottom: 20px;
    .post-title a {
      color: $black;
      text-decoration: none;
      font-weight: 600;
    }

    .post-body {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: -0.004em;
      font-weight: 200;
    }

    .read-more {
      display: block;
      text-decoration: none;
      color: $super-light-font-color;
      font-size: 12px;
      margin-top: 8px;
      &:hover {
        color: $light-font-color;
      }
    }
  }

  .response-count {
    color: $super-light-font-color;
    margin-right: 5px;
    text-decoration: none;
    &:hover {
      color: $light-font-color;
    }
  }
}

