.post-panel {
  border-bottom: 1px solid $border-color;
  padding: 20px 0 25px;

  .main-body {
    .post-title a {
      color: $black;
      text-decoration: none;
    }
  }

  .response-count {
    color: $super-light-font-color;
    margin-right: 5px;
    text-decoration: none;
    &:hover {
      color: $light-font-color;
    }
  }
}

