.post-metadata {
  display: flex;
  .post-info {
    padding-left: 10px;
    a {
      color: $accent-color;
      text-decoration: none;
    }
    small {
      color: $light-gray;
    }
  }
}
.main-content .post-metadata {
  margin-top: 20px;
  padding-bottom: 20px;
}
