.progress-bar.active {
  background-color: $progress-bar;
  position: fixed;
  height: 2px;
  top: 0;
  z-index: $navbar-fixed-top + 1;
  border: none;
  outline: none;
  animation-name: progressBar;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes progressBar {
  0% { width: 0%; }
  100% { width: 100% }
}
