.main-searchbar form {
  padding: 0.4em 0.8em;
  @include border-radius($button);
  margin-top: 6px;
  margin-right: 8px;
  border: 1px solid #e0e0e0;
  button[type="submit"] {
    border: none;
    outline: none;
    background-color: transparent;
    span {
      color: $light-font-color;
    }
  }
  input[type="search"] {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.large-searchbar {
  form {
    margin: 1em 0;
  }
  input[type="search"] {
    width: 100%;
    font-size: 50px;
    font-weight: 100;
    border: none;
    outline: none;
    background-color: #fff;
  }
}
