aside.main-sidebar {
  padding-top: 2em;
  background-color: $background-gray;

  .tags-wrapper {
    padding-top: 22px;
    padding-bottom: 22px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  a.tag {
    color: $light-font-color;
    background-color: #fff;
    padding: 0.5em 0.7em;
    border: 1px solid $light-border-color;
    @include border-radius($radius);
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 12px;
    font-size: 13px;
    &:hover {
      border-color: $border-hover-color;
      color: #555;
    }
  }

  .sidebar-top-stories {
    ul {
      list-style: none;
      padding: 1em;
    }
    .top-stories-list-item {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      margin-bottom: 1.1em;
    }
    .top-stories-links {
      padding-bottom: 1em;
      min-width: 80%;
      border-bottom: 1px solid $border-color;
      .post-title {
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        text-decoration: none;
        &:hover {
          color: $accent-color;
        }
      }
      .post-username {
        font-size: 13px;
        color: $super-light-font-color;
        text-decoration: none;
        &:hover {
          color: $light-font-color;
        }
      }
    }
  }
}
