<div class="col-md-6 col-md-offset-1">
  <%= render @posts %>
</div>

<% content_for :sidebar do %>
  <aside class="col-md-4 col-md-offset-1 main-sidebar">
    <h4 class="small-heading with-border">Features tags</h4>
    <div class="tags-wrapper">
      <%= render @featured_tags %>
    </div>
    <%= render 'shared/sidebar_following_tags' %>
  </aside>
<% end %>
