<div class="col-md-6 col-md-offset-1">
  <%= render @posts %>
</div>

<div class="col-md-4 col-md-offset-1">
  <h4 class="small-heading with-border">Tags you follow</h4>
  <div class="following-tags">
    <%= render @following_tags %>
  </div>  
</div>
