<div class="col-md-6 col-md-offset-1">
  <%= render @posts %>
</div>

<div class="col-md-4 col-md-offset-1">
  <h4 class="small-heading with-border">Tags you follow</h4>
  <% if user_signed_in? %>
    <div class="following-tags">
      <% @following_tags.each do |tag| %>
        <%= link_to tag.name, tag %>
    <% end %>
    </div>
  <% end %>
</div>
