/** Google Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

/*** Icomoon ***/
@font-face {
    font-family: 'icomoon';
    src:font-url('fonts/icomoon.eot?sm6yvs');
    src:font-url('fonts/icomoon.eot?sm6yvs#iefix') format('embedded-opentype'),
        font-url('fonts/icomoon.ttf?sm6yvs') format('truetype'),
        font-url('fonts/icomoon.woff?sm6yvs') format('woff'),
        font-url('fonts/icomoon.svg?sm6yvs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tags:before {
    content: "\e903";
}
.icon-tag:before {
    content: "\e904";
}
.icon-bookmark-o:before {
    content: "\e900";
}
.icon-bookmark:before {
    content: "\e901";
}
.icon-heart-o:before {
    content: "\e90a";
}
.icon-heart2:before {
    content: "\e90b";
}
.icon-price-tag:before {
    content: "\e902";
}

