/** Google Fonts ***/

/* Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic,600,400italic,600italic,800);
/* Lora */
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

/*** Icomoon ***/
@font-face {
    font-family: 'icomoon';
    src:font-url('fonts/icomoon.eot?qpalqi');
    src:font-url('fonts/icomoon.eot?qpalqi#iefix') format('embedded-opentype'),
        font-url('fonts/icomoon.ttf?qpalqi') format('truetype'),
        font-url('fonts/icomoon.woff?qpalqi') format('woff'),
        font-url('fonts/icomoon.svg?qpalqi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
    content: "\e912";
}
.icon-calendar2:before {
    content: "\e913";
}
.icon-chain:before {
    content: "\e914";
}
.icon-globe:before {
    content: "\e915";
}
.icon-home:before {
    content: "\e916";
}
.icon-map-marker:before {
    content: "\e917";
}
.icon-user-plus:before {
    content: "\e90e";
}
.icon-user:before {
    content: "\e903";
}
.icon-commenting-o:before {
    content: "\e910";
}
.icon-comment-o:before {
    content: "\e911";
}
.icon-google:before {
    content: "\e90f";
}
.icon-facebook-official:before {
    content: "\e90d";
}
.icon-plus-circle:before {
    content: "\e908";
}
.icon-plus:before {
    content: "\e909";
}
.icon-camera:before {
    content: "\e907";
}
.icon-bell-o:before {
    content: "\e905";
}
.icon-bell:before {
    content: "\e906";
}
.icon-tag:before {
    content: "\e904";
}
.icon-bookmark-o:before {
    content: "\e900";
}
.icon-bookmark:before {
    content: "\e901";
}
.icon-heart-o:before {
    content: "\e90a";
}
.icon-heart2:before {
    content: "\e90b";
}
.icon-twitter2:before {
    content: "\e80a";
}
.icon-facebook2:before {
    content: "\e802";
}
.icon-price-tag:before {
    content: "\e902";
}
.icon-link:before {
    content: "\e918";
}
.icon-circle-down:before {
    content: "\e90c";
}
