/** Google Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic,600,400italic,600italic,800);

/*** Icomoon ***/
@font-face {
    font-family: 'icomoon';
    src:font-url('fonts/icomoon.eot?c65xmz');
    src:font-url('fonts/icomoon.eot?c65xmz#iefix') format('embedded-opentype'),
        font-url('fonts/icomoon.ttf?c65xmz') format('truetype'),
        font-url('fonts/icomoon.woff?c65xmz') format('woff'),
        font-url('fonts/icomoon.svg?c65xmz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
    content: "\e90e";
}
.icon-google:before {
    content: "\e90f";
}
.icon-facebook-official:before {
    content: "\e90d";
}
.icon-plus-circle:before {
    content: "\e908";
}
.icon-plus:before {
    content: "\e909";
}
.icon-camera:before {
    content: "\e907";
}
.icon-bell-o:before {
    content: "\e905";
}
.icon-bell:before {
    content: "\e906";
}
.icon-tags:before {
    content: "\e903";
}
.icon-tag:before {
    content: "\e904";
}
.icon-bookmark-o:before {
    content: "\e900";
}
.icon-bookmark:before {
    content: "\e901";
}
.icon-heart-o:before {
    content: "\e90a";
}
.icon-heart2:before {
    content: "\e90b";
}
.icon-twitter2:before {
    content: "\e80a";
}
.icon-facebook2:before {
    content: "\e802";
}
.icon-price-tag:before {
    content: "\e902";
}
.icon-circle-down:before {
    content: "\e90c";
}
