/** Google Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

/*** Icomoon ***/
@font-face {
  font-family: 'icomoon';
  src:font-url('fonts/icomoon.eot?fygo8u');
  src:font-url('fonts/icomoon.eot?fygo8u#iefix') format('embedded-opentype'),
      font-url('fonts/icomoon.ttf?fygo8u') format('truetype'),
      font-url('fonts/icomoon.woff?fygo8u') format('woff'),
      font-url('fonts/icomoon.svg?fygo8u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark-o:before {
  content: "\e900";
}
.icon-bookmark:before {
  content: "\e901";
}
.icon-heart-o:before {
  content: "\e90a";
}
.icon-heart2:before {
  content: "\e90b";
}
