html {
  background-color: $white;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: $white;
}

.side-padding-5 {
  padding: 0 5%;
}

.flex-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  &.f-wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.flex-space-btw {
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
