html {
  background-color: $white;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: $white;
}

.side-padding-5 {
  padding: 0 5%;
}

h1 {
  font-weight: 700;
}

.flex-container {
  display: flex;

  &.f-wrap {
    flex-wrap: wrap;
  }
}

.flex-space-btw {
  justify-content: space-between;
}

svg {
    overflow: hidden;
    vertical-align: unset;
}


pre{
  border:none !important;
  //background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05) !important;
}
