.button {
  border: 1px solid $border-color;
  padding: 0.5em 1em !important;
  @include border-radius($button);
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  outline: none;
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
  }

  &.green-border-button {
    color: $accent-color !important;
    border-color: $accent-color;
    background-color: #fff;
  }
  &.green-inner-button {
    color: #fff;
    background-color: $button-green;
    border-color: $button-green;
  }
}

.count-button-wrapper {
  position: relative;
  width: 35px;
  height: 35px;
  border: 1px solid $border-color;
  @include border-radius($round);
  background-color: #fff;
  margin-right: 20px;
  .count-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
  }
}
