.small-heading {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 8px 0;
  font-size: 11px;
  font-weight: bold;
  color: $font-black;
  &.with-border {
    padding-top: 1.5em;
    border-top: 1px solid $border-color;
  }
}

.heading-border-b {
  color: $font-black;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.5em;
  a {
    color: $accent-color;
  }
}

.center {
  text-align: center;
}
.grayed-heading {
  color: $light-gray;
  font-weight: bold;
  font-size: 16px;
}
