.small-heading {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 8px 0;
  font-size: 11px;
  font-weight: bold;
  color: $font-black;
  &.with-border {
    padding-top: 1.5em;
    border-top: 1px solid $border-color;
  }
}
