// Control the reading expreience
@mixin well-read {
  font-family: $reading-stack;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
  border: none;
  color: $font-black;
}

// Border Radius with vendor prefixes for older browsers
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Box Shadow 
@mixin box-shadow {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.07);
}
