/*** Colors ***/
$black: #000000;
$white: #ffffff;
$accent-color: #00ab6b;
$light-gray: rgba(0,0,0,0.44);
$super-light-gray: rgba(0,0,0,0.05);

// social colors
$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$google-red: #dd4b39;

// border color
$border-color: rgba(0, 0, 0, 0.1);
$light-border-color: #f0f0f0;
$border-hover-color: rgba(0, 0, 0, 0.3);

// font color
$light-font-color: rgba(0,0,0,0.6);
$font-black: rgba(0,0,0, 0.8);
$super-light-font-color: $border-hover-color;

// button color
$button-green: #02b875;

// background color
$background-gray: #fafafa;

// Progress bar (on page change)
$progress-bar: #9EFD38;

// border radius
$radius: 3px;
$popover: 4px;
$round: 50%;
$button: 20px;

/*** Font Stacks ***/
$main-stack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$reading-stack: 'Lora', Georgia, serif;

/*** Z-index ***/
$z-popover: 20;
$alert: 9999;
$navbar-fixed-top: 1030;
