/*** Colors ***/
$black: #000000;
$accent-color: #00ab6b;
$border-color: rgba(0, 0, 0, 0.1);
$light-border-color: #f0f0f0;
$border-hover-color: rgba(0, 0, 0, 0.3);
$light-gray: rgba(0,0,0,0.44);
$super-light-gray: rgba(0,0,0,0.05);
$light-font-color: rgba(0,0,0,0.6);
$button-green: #02b875;