/*** Colors ***/
$black: #000000;
$white: #ffffff;
$accent-color: #00ab6b;
$light-gray: rgba(0,0,0,0.44);
$super-light-gray: rgba(0,0,0,0.05);

// social colors
$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$google-red: #dd4b39;

// border color
$border-color: rgba(0, 0, 0, 0.1);
$light-border-color: #f0f0f0;
$border-hover-color: rgba(0, 0, 0, 0.3);

// font color
$light-font-color: rgba(0,0,0,0.6);
$font-black: rgba(0,0,0, 0.8);
$super-light-font-color: $border-hover-color;

// button color
$button-green: #02b875;

// background color
$background-gray: #fafafa;

// Progress bar (on page change)
$progress-bar: $accent-color;

// border radius
$radius: 3px;
$popover: 4px;
$round: 50%;
$button: 20px;

/*** Font Stacks ***/
$main-stack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$reading-stack: 'Lora', Georgia, serif;

/*** Z-index ***/
$z-popover: 20;
$alert: 9999;
$navbar-fixed-top: 1030;




//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


