<div class="post-list-item">
  <div class="flex-container">
    <div class="avatar-wrapper">
      <%= avatar_for(post.user, size: 40) %>
    </div>
    <div class="post-info">
      <strong class="pli-title"><%= link_to post.title, post %></strong><br/>
      <small class="pli-username"><%=link_to post.username, post.user %></small>
    </div>
    <% if post.picture? %>
      <div class="pli-picture-wrapper">
        <%= image_tag post.picture.url(:thumb) %>
      </div>
    <% end %>
  </div>
</div>
