<div data-animation="fadeInUp-fadeOutDown">
  <div class="col-xs-10 col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-1 col-xs-offset-1">
    <div class="post-metadata">
      <%= avatar_for(current_user, size: 40) %>
      <div class="post-info">
        <%= link_to current_user.username, current_user %><br/>
        <small>Edit Post</small>
      </div>
    </div>
    <%= render 'form', post: @post %>
  </div>
</div>
