<div data-animation="fadeInUp-fadeOutDown">
  <div class="col-10 col-sm-10 col-md-6 offset-md-3 offset-sm-1 offset-1">

    <div class="post-metadata">
      <%= avatar_for(current_user, size: 40) %>
      <div class="post-info">
        <%= link_to current_user.username, current_user %><br/>
        <small>New Post</small>
      </div>
    </div>

    <% if @parent_post.present? %>
      <%= render 'posts/parent_post', parent: @parent_post %>
    <% end %>

    <%= render 'posts/form', post: @post %>
  </div>
</div>
