<nav class="navbar navbar-inverse navbar-fixed-top navbar-admin">
  <div class="container-fluid col-md-10 col-md-offset-1">
    <div class="navbar-header">
      <%= image_tag('stories-logo.svg', height: 40, alt: "Stories") %>
    </div>
    <ul class="nav navbar-nav filter-links">
      <li>
        <%= nav_link_to "Dashboard", admin_dashboard_path %>
      </li>
      <li>
        <a href="/sidekiq">Sidekiq</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li><%= link_to "Sign out", destroy_admin_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div> 
  </div>
</nav>
