<li id="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="icon-bell-o notification-bell" id="bell"></span></a>
  <ul class="dropdown-menu" id="notification-items">
  </ul>
</li>

